*{
    font-family: sans-serif;
}

.navbar{
    background-color: rgb(127, 255, 159);
}

.nav-item .nav-link{
    font-size: 400;
}

#Home{
    background-image: url(https://img.freepik.com/premium-psd/organic-food-top-view-grunge-background_23-2148322488.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.organic{
    color: white;
    font-size: 60px;
    text-shadow: 2px 3px 5px black;
}

.d-block{
    width: 100%;
    aspect-ratio: 3/1;
}

.fruits{
    width: 80%;
    aspect-ratio: 3/3;
    margin-left: 10%;
}

.input-group .input-group-text{
    background-color: rgb(127, 255, 159);
    border: None;
}

#footer{
    background-color: rgb(127, 255, 159);
}

.fa-brands{
    color: white;
    font-size: 20px;
    margin-right: 10px;
}